extends layout

block content
    #layout(style="padding: 50px;")
        h1= title
        p Welcome to #{title}

block javascript
    script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
    script.
        var signPackage = !{JSON.stringify(signPackage)};
        wx.config({
            debug: false,
            appId: signPackage.appId,
            timestamp: signPackage.timestamp,
            nonceStr: signPackage.nonceStr,
            signature: signPackage.signature,
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareWeibo',
                'onMenuShareQZone'
            ]
        });
        
        wx.ready(function () {
            console.log('wx.ready');
            wx.onMenuShareTimeline({
                title: 'JS全栈微信开发',
                link: window.location.href,
                imgUrl: '',
                success: function () {
                    console.log('share success');
                },
                cancel: function () {
                    console.log('share cancel');
                }
            });
            
            wx.onMenuShareAppMessage({
                title: 'JS全栈微信开发',
                link: window.location.href,
                imgUrl: '',
                success: function () {
                    console.log('share success');
                },
                cancel: function () {
                    console.log('share cancel');
                }
            });
        });
